@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");

@layer base {
     body {
          @apply w-screen h-screen overflow-hidden;

          font-size: 16px;
     }

     #app {
          @apply w-full h-full flex justify-center items-center;
     }

     button {
          @apply rounded mt-4 py-1 px-2 block w-full;

          font-size: 1rem;
          background-color: #49ffe1;
     }

     button.claer_button {
          background-color: #44464b;
          color: #fff;
     }

     h3 {
          font-size: 1.2rem;
          font-weight: 700;
          color: #49ffe1;
     }

     canvas {
          @apply inline-block overflow-hidden;
     }
}

.steps {
     @apply mb-2;

     color: #fff;
     font-size: 1.2rem;
     font-weight: 600;
}

.tabs {
     button {
          justify-items: flex-end;
          color: #83858a;
          background-color: transparent;
          font-weight: 600;
     }

     button.active {
          color: #34363a;
     }
}

.layout {
     @apply p-8 rounded flex flex-col justify-center items-center;

     background-color: #34363a;
}

.uploadfile {
     @apply p-8 text-center w-full;

     border: 2px dashed #fff;

     label {
          @apply inline-block cursor-pointer px-2 mb-2;

          font-size: 1rem;
          color: #49ffe1;
          border-bottom: 2px solid #49ffe1;
     }

     p {
          color: #fff;
          font-size: 0.8rem;
     }

     input.upload {
          @apply w-0;
     }
}

.signature {
     @apply w-full;

     .review {
          @apply p-10 bg-white;
     }

     .sign-container {
          @apply bg-white;
     }

     .small-button {
          @apply mt-4 w-auto;

          background-color: #fff;
     }

     h3 {
          @apply mb-2;
     }

     ul {
          @apply flex;

          li {
               @apply p-3 mt-4 mr-2 bg-white relative cursor-pointer;

               width: 100px;
               height: 50px;

               img {
                    @apply w-full h-full;
               }

               button {
                    @apply absolute;

                    top: -13px;
                    padding: 7px;
                    right: 3px;
                    width: 23px;
                    border-radius: 33px;
                    background-color: #34363a;
               }
          }
     }
}

#the-canvas {
     @apply block;

     max-height: 60vh;
     max-width: 60vw;
}
