@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");

@layer base {
     body {
          @apply w-screen h-screen overflow-hidden;

          font-size: 16px;
     }

     #app {
          @apply w-full h-full flex justify-center items-center;
     }

     button {
          @apply rounded my-2 py-1 px-2;

          font-size: 1rem;
          background-color: #49ffe1;
     }

     h3 {
          font-size: 1.2rem;
          font-weight: 700;
          color: #49ffe1;
     }
}

.layout {
     @apply p-8 rounded w-3/6;

     background-color: #34363a;
}

.uploadfile {
     label {
          @apply inline-block cursor-pointer px-2 mb-2;

          font-size: 1rem;
          color: #49ffe1;
          border-bottom: 2px solid #49ffe1;
     }

     p {
          color: #fff;
          font-size: 0.8rem;
     }

     input.upload {
          @apply w-0;
     }
}
