@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");

.font-bold {
     font-weight: 100;
}

@layer base {
     h1 {
          @apply font-bold;

          font-size: 40px;
          line-height: 60px;
          color: #f00;
     }

     h2 {
          @apply font-bold;

          font-size: 36px;
          line-height: 54px;
     }

     h3 {
          @apply font-bold;

          font-size: 32px;
          line-height: 48px;
     }

     h4 {
          @apply font-bold;

          font-size: 28px;
          line-height: 42px;
     }

     h5 {
          @apply font-bold;

          font-size: 24px;
          line-height: 36px;
     }

     h6 {
          @apply font-bold;

          font-size: 20px;
          line-height: 30px;
     }
}
